<h1>My Pretty Sweet Blog</h1>


<div class="content">
  <div class="new-post">
    <%= link_to 'Write a new post', new_post_path %>
  </div>

  <%= render partial: @posts.reverse, locals: {render_comments: false} %>

</div>