/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require token-input-facebook
 *= require jquery.ui.all
 *= require_tree .
 */
#user_info  {
  float:right;
}

.content {
  margin: 10px;
}

.post {
  margin-top: 10px;
  padding: 10px;
  width: 800px;
}

.post-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.post-content {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}

.post-author {
  font-size: 12px;
  font-style: italic;
}

.comment {
  width: 400px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.comment-content {
  font-size: 14px;
}

.comment-author {
  font-style: italic;
  font-size: 14px;
}

.notice {
  padding: 5px;
  border: 1px solid black;
  width: 400px;
  }

.success {
  background-color: #99FF66;
}